/* define variables for the root element */

:root
{
    --main-bg-color:#f54545;
    --main-text-color:#333;
    --container-width:90%;
    --header-bg-color:#333;
    --header-txt-color:#fff;
}

body
{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container
{
    width: var(--container-width) ;
    margin: 20px auto;
}

header#main-header 
{
     background: var(--header-bg-color);
     color: var(--header-txt-color);
}

header#main-header h1
{
    padding: 0;
    margin: 0;
}

.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap:20px; */
    --gap:20;
    grid-gap:calc(var(--gap)*1px);
    align-items: center;
}

/* define box vars */

.box
{
    --box-bg-color:#ddd;
    --box-main-color:#06c;
    --box-padding: 5px 10px;
    --box-shadow-x-offset:5px;
    --box-shadow-y-offset:5px;
    --box-shadow-blur-offset:25px;
}

.box 
{
    background: var(--box-bg-color);
    padding: var(--box-padding);
    border: 3px solid var(--box-main-color);
    box-shadow: var(--box-shadow-x-offset) var(--box-shadow-y-offset) var(--box-shadow-blur-offset) var(--box-main-color);
}

.box h1
{
    color: var(--box-main-color);
}

.box p
{
    --box-main-color:#555;
    color: var(--box-main-color);
}