p{
	border:2px solid green;

	/*border-top: 10px;    increases border at top by 10px


	border-bottom: 10px;*/

	width: 190px;

	/*height:30px;  icreases the height of the box*/

	/*widht can also be given as:
	  width:50%;*/

	  padding:10px;  /* padding of 10px from all the four sides*/


	/* padding-left: 50px;    sirf left mein padding milegi 50px ki
	 padding-bottom: 30px;
	 padding-right: 20px;
	 padding-top: 40px;*/

	/* width aur text dono content mein hi aate hain
	 content aur border ke beech jo hota hai vo padding hoti hai
	 border aur uske bahar ke enviorenment mein jo spacing hoti hai use margin kehte hain*/

	 margin: 100px;

	/* margin-right: 50PX;
	 margin-bottom: 50PX;
	 margin-left: 40PX;
	 margin-top: 50PX;
	 margin: 200px(bottom) 100px(right) 150px(top) 250px(left);*/
	 /*margin: o auto o auto;
	 margin: o(top and bottom) auto(left and right)
	 margin: 50px(top and bottom) 20px(left and right)*/
}